@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, and Opera */
body::-webkit-scrollbar {
    display: none;
  }
  
  body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  /* Apply styles to all classes */
  *::-webkit-scrollbar {
    display: none;
  }
  
  * {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
